<!DOCTYPE HTML>
<html>
<head>
    <title>OpenWIS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Hi everybody !!</h1>
<pre>
                      ____
                 ____ \__ \
                 \__ \__/ / __
                 __/ ____ \ \ \    ____
                / __ \__ \ \/ / __ \__ \
           ____ \ \ \__/ / __ \/ / __/ / __
      ____ \__ \ \/ ____ \/ / __/ / __ \ \ \
      \__ \__/ / __ \__ \__/ / __ \ \ \ \/
      __/ ____ \ \ \__/ ____ \ \ \ \/ / __
     / __ \__ \ \/ ____ \__ \ \/ / __ \/ /
     \ \ \__/ / __ \__ \__/ / __ \ \ \__/
      \/ ____ \/ / __/ ____ \ \ \ \/ ____
         \__ \__/ / __ \__ \ \/ / __ \__ \
         __/ ____ \ \ \__/ / __ \/ / __/ / __
        / __ \__ \ \/ ____ \/ / __/ / __ \/ /
        \/ / __/ / __ \__ \__/ / __ \/ / __/
        __/ / __ \ \ \__/ ____ \ \ \__/ / __
       / __ \ \ \ \/ ____ \__ \ \/ ____ \/ /
       \ \ \ \/ / __ \__ \__/ / __ \__ \__/
        \/ / __ \/ / __/ ____ \ \ \__/
           \ \ \__/ / __ \__ \ \/
            \/      \ \ \__/ / __
                     \/ ____ \/ /
                        \__ \__/
                        __/
</pre>
<p>Click <a href="https://github.com/OpenWIS">here</a> to visit the OpenWIS github repository</p>
</body>
</html>